body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  text-align: center;
}

.title {
  font-size: 50px;
  color: #fff;
}
.break {
  position: relative;
  display: flex;
  font-size: 30px;
  color: #fff;
  right: 120px;
  top: 70px;
}

.session {
  position: relative;
  display: flex;
  font-size: 30px;
  color: #fff;
  left: 140px;
  top: 25px;
}

.sess {
  position: relative;
  font-size: 30px;
  color: #fff;
  left: 125px;
}

.set {
  position: relative;
  font-size: 40px;
  color: #fff;
  left: 130px;
  bottom: 2.03em;
}

.gap {
  position: relative;
  font-size: 40px;
  color: #fff;
  right: 130px;
  top: 0.7em;
}

.timer {
  position: relative;
  font-size: 40px;
  color: #fff;
  left: 130px;
  bottom: 7.8rem;
}

.plus {
  position: relative;
  left: 12em;
  bottom: 9em;
  background-color: #397df8;
}

.minus {
  position: relative;
  bottom: 9em;
  left: 4.2em;
  background-color: #397df8;
}
.gapPlus {
  position: relative;
  right: 4.5em;
  bottom: 2em;
  background-color: #397df8;
}

.gapMinus {
  position: relative;
  right: 12em;
  bottom: 2em;
  background-color: #397df8;
}

.startBtn {
  position: relative;
  background-color: navy;
  color: orange;
  font-size: 20px;
  bottom: 3rem;
  font-family: Helvetica;
}

.pauseBtn {
  background-color: navy;
  color: orange;
  position: relative;
  left: 15px;
  font-size: 19px;
  bottom: 3rem;
  font-family: Helvetica;
}

.gapp {
  position: relative;
  color: #fff;
  font-size: 40px;
  right: 120px;
  bottom: 3rem;
}

.titleb {
  position: relative;
  color: #fff;
  right: 120px;
  bottom: 45px;
  font-size: 30px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
